
.box{
    height:200px;
    display: flex;
    justify-content: space-between;
    padding:10px;
    gap:10px;
    box-shadow:2px 2px 6px 1px rgba(0,0,0, 0.4);
    background:white;
    border-radius:10px;
}

.box .left,.box .right{
    display:flex;
    justify-content:space-between;
    flex-direction: column;
}
.box .right{
    align-items: flex-start;
}
.Boxdetail{
    font-size: 14px;
    font-weight:500;
    font-style:italic;
    color:var(--span-color);
    
}
.Boxdetail:hover{
    color:#ea6a47 ;
    border-bottom: 1px solid rgb(79, 4, 11);
    font-weight: 600;
    transform: border-bottom 10s ease;
}
.boxIcon{
    padding:4px;
    font-size:12px;
    border-radius: 4px;
}
.green{
    color:green;
       background:rgb(169, 246, 192); 
}
.red{
    color:red;
       background:rgb(246, 196, 187);
}
.blue{
    color:blue;
       background:rgb(175, 175, 213); 
}



/*---------------- MOBILE RESPONSIVENESS--------------  */
@media screen and (max-width:960px) {
    .box{
        margin-bottom:2rem;
    }   
}


@media screen and (max-width:600px) {
    .box{
        margin-bottom:1.5rem;
        height:150px;
    }
}


